/* Header Layout und Hintergrundfarbe */
header .nav-wrapper {
    background-color: black; /* Schwarzer Hintergrund im oberen Balken */
    width: 100%;
    z-index: 2;
    position: fixed;
    color: white; /* Textfarbe im Header auf Weiß setzen */
}

/* Navigation */
header nav {
    box-sizing: border-box;
    display: grid;
    grid-template:
        'hamburger brand tools' var(--nav-height)
        'sections sections sections' 1fr / auto 1fr auto;
    align-items: center;
    gap: 0 24px;
    margin: auto;
    max-width: 1248px;
    height: var(--nav-height);
    padding: 0 24px;
    font-family: var(--body-font-family);
    background-color: white; /* Weißer Hintergrund unter dem oberen Balken */
}

/* Tools rechts */
header nav .nav-tools {
    display: flex;
    align-items: center;
    gap: 16px; /* Abstand zwischen den Icons und Texten */
    color: white; /* Textfarbe für Tools auf Weiß setzen */
}

/* Brand (Logo und Text) zentrieren */
header .nav-brand {
    grid-area: brand;
    display: flex;
    align-items: center;
    justify-content: center; /* Logo und Text in der Mitte zentrieren */
    font-size: var(--heading-font-size-s);
    font-weight: 700;
    line-height: 1;
}

header nav .nav-brand img {
    width: 128px;
    height: auto;
}

/* Navigation-Sections zentrieren */
header nav .nav-sections {
    grid-area: sections;
    display: flex;
    justify-content: center; /* Navigation in der Mitte zentrieren */
    gap: 24px; /* Abstand zwischen den Links */
    font-size: var(--body-font-size-s);
    color: black;
}

header nav .nav-sections ul {
    list-style: none;
    padding-left: 0;
    font-weight: 500;
}

header nav .nav-sections ul > li {
    font-weight: 500;
}

/* Button "Termin vereinbaren" */
.appointment-button {
    color: #3070e7; /* Blaue Schriftfarbe */
    text-decoration: none; /* Entfernt Unterstreichung */
    font-weight: bold;
    border: 1px solid #3070e7;
    padding: 8px 12px;
    border-radius: 4px;
}

.appointment-button:hover {
    background-color: #3070e7;
    color: white;
}
