.hero-container .hero-wrapper {
    max-width: unset;
    padding: 0;
}

.hero {
    position: relative;
    padding: 40px 24px;
    min-height: 600px;
    overflow: hidden; /* Versteckt überflüssige Inhalte */
}

.hero h1 {
    max-width: 80%; /* Breite auf 80% des Containers einstellen */
    margin: 0;
    color: black; /* Textfarbe schwarz */
    background-color: white; /* Hintergrundfarbe weiß */
    padding: 16px; /* Abstand innerhalb der Box */
    position: absolute; /* Absolute Positionierung */
    bottom: 10px; /* Abstand vom unteren Rand */
    left: 10%; /* Abstand vom linken Rand */
    font-size: 5vw; /* Schriftgröße basierend auf der Breite des Viewports */
}

.hero h2 {
    max-width: 80%; /* Breite auf 80% des Containers einstellen */
    margin: 0;
    color: black; /* Textfarbe schwarz */
    background-color: white; /* Hintergrundfarbe weiß */
    padding: 16px; /* Abstand innerhalb der Box */
    position: absolute; /* Absolute Positionierung */
    bottom: 10px; /* Abstand vom unteren Rand */
    left: 10%; /* Abstand vom linken Rand */
    font-size: 1vw; /* Schriftgröße basierend auf der Breite des Viewports */
}

.hero picture {
    position: absolute;
    z-index: -1;
    inset: 0;
    object-fit: cover;
    box-sizing: border-box;
    background-attachment: fixed; /* Bild bleibt beim Scrollen fixiert */
}

.hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute; /* Absolute Positionierung */
    top: 0;
    left: 0;
    z-index: -1; /* Hinter den anderen Inhalten */
}

@media (min-width: 900px) {
    .hero {
        padding: 40px 32px;
    }

    .hero h1 {
        max-width: 800px; /* Anpassung der Breite für größere Bildschirme */
        font-size: 2.5em; /* Schriftgröße für größere Bildschirme */
        padding: 24px; /* Anpassung des Innenabstands */
    }

    .hero h2 {
        max-width: 800px; /* Anpassung der Breite für größere Bildschirme */
        font-size: 1.0em; /* Schriftgröße für größere Bildschirme */
        padding: 20px; /* Anpassung des Innenabstands */
        bottom: 20px; /* Abstand vom unteren Rand für größere Bildschirme */
    }
}
