.hero-container .hero-wrapper {
    max-width: unset;
    padding: 0;
}

.hero {
    position: relative;
    padding: 40px 24px;
    min-height: 400px;
}

.hero h1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: black; /* Textfarbe schwarz */
    background-color: white; /* Hintergrundfarbe weiß */
    padding: 16px; /* Abstand innerhalb der Box */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* Leichter Schatten für Text */
    display: inline-block; /* Passt sich dem Textinhalt an */
    position: absolute; /* Absolut positioniert */
    bottom: 20px; /* Positionierung unten */
    left: 30%; /* Zentrierung */
    transform: translateX(-50%); /* Exakte Zentrierung */
}

.hero picture {
    position: absolute;
    z-index: -1;
    inset: 0;
    object-fit: cover;
    box-sizing: border-box;
}

.hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (width >= 900px) {
    .hero {
        padding: 40px 32px;
    }
}
