
footer {
  background-color: white; /* Hintergrundfarbe auf WeiÃŸ setzen */
  color: #505050; /* Textfarbe dunkelgrau */
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 60px 24px 40px; /* VergrÃ¶ÃŸertes Padding fÃ¼r mehr Abstand */
}

footer .footer p {
  margin: 0 0 20px; /* Abstand zwischen einzelnen AbsÃ¤tzen */
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 60px 32px 40px; /* GrÃ¶ÃŸere AbstÃ¤nde fÃ¼r grÃ¶ÃŸere Bildschirme */
  }
}
