footer {
  background-color: white; /* Hintergrundfarbe Weiß */
  font-size: var(--body-font-size-m);
  color: #505050; /* Textfarbe Dunkelgrau */
}

footer .footer > div {
  display: flex;                   /* Layout auf Flexbox setzen */
  justify-content: left;         /* Inhalte in der Mitte zentrieren */
  align-items: left;             /* Inhalte vertikal zentrieren */
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer > div > * {
  margin: 70px; /* Abstand zwischen den Inhalten anpassbar */
}

footer .footer p {
  margin: 50; /* Margin für p-Elemente zurücksetzen, um den Abstand kontrolliert zu halten */
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
