footer {
  background-color: white; /* Hintergrundfarbe Weiß */
  font-size: var(--body-font-size-m);
  color: #505050; /* Textfarbe Dunkelgrau */
}

footer .footer > div {
  display: flex;                   /* Layout auf Flexbox setzen */
  justify-content: center;         /* Inhalte in der Mitte zentrieren */
  align-items: center;             /* Inhalte vertikal zentrieren */
  margin: auto;
  max-width: 1800px;
  padding: 40px 24px;             /* Padding anpassen */
}

footer .footer > div > * {
  margin: 20px; /* Abstand zwischen den Inhalten anpassbar */
}

footer .footer p {
  margin: 0; /* Margin für p-Elemente zurücksetzen, um den Abstand kontrolliert zu halten */
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px; /* Padding anpassen für größere Bildschirme */
  }
}
