/* Hauptschriftart */
:root {
  --body-font-family: "darkmode-off-cc", hair;
  --heading-font-family: "darkmode-off-cc", hair;
}

/* @font-face Regeln */
@font-face {
  font-family: 'darkmode-off-cc';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../fonts/roboto-condensed-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'darkmode-off-cc';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/roboto-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'darkmode-off-cc';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/roboto-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'darkmode-off-cc';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/roboto-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'darkmode-off-cc';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/roboto-light.woff2') format('woff2');
}

/* Standard CSS für body und Überschriften */
body {
  font-family: var(--body-font-family);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
}
